<table *ngIf="companies" class="table table-striped" matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
        <th scope="col" >#</th>
        <th scope="col" mat-sort-header="name" (sort)="onSort($event)">Name</th>
        <th scope="col" mat-sort-header="goal" (sort)="onSort($event)">Goal</th>
        <th scope="col" mat-sort-header="presently" (sort)="onSort($event)">Presently</th>
        <th scope="col" mat-sort-header="expiration_date" (sort)="onSort($event)">Expiration date</th>
        <th scope="col" *ngIf="isHaveAcces">Change</th>
    </tr>
    <tr>
        <th scope="col" ></th>
        <th scope="col">
            <input class="form-control input-sm" type="text" 
                placeholder="Name" [(ngModel)]="nameSearch">
        </th>
        <th scope="col">
            <input class="form-control input-sm" type="number" 
                placeholder="Min" [(ngModel)]="minGoalSearch">
            <input class="form-control input-sm" type="number" 
                placeholder="Max" [(ngModel)]="maxGoalSearch">
        </th>
        <th scope="col">
            <input class="form-control input-sm" type="number" 
                placeholder="Min" [(ngModel)]="minPresentlySearch">
            <input class="form-control input-sm" type="number" 
                placeholder="Max" [(ngModel)]="maxPresentlySearch">
        </th>
        <th scope="col">
            <div class="input-group">
                <input class="form-control input-sm" placeholder="yyyy-mm-dd"
                    name="dp" [(ngModel)]="expDateSearch" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                <button class="btn btn-secondary input-sm" (click)="d.toggle()"
                    type="button"><i class="fa fa-calendar"></i></button>
                </div>
            </div>
        </th>
        <th scope="col" *ngIf="isHaveAcces"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of (sortedCompany | companyFilter: nameSearch: 
        minGoalSearch: maxGoalSearch: 
        minPresentlySearch: maxPresentlySearch: 
        expDateSearch), let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td scope="row"><a href="#" [routerLink] = "['/company', company._id]">{{company.name}}</a></td>
        <td scope="row">{{ company.goal | number }}</td>
        <td scope="row">{{ company.presently | number }}</td>
        <td scope="row">{{ company.expiration_date | date }}</td>
        <td scope="row" *ngIf="isHaveAcces">
            <a href="#" [routerLink]="['/company', company._id, 'change']" class="btn btn-outline-danger btn-sm">
                <i class="fa fa-edit"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>