<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" [style.background-image]="background">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{user.profile_img}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="">
                    <h4 class="title">{{user.name}}<br /></h4>
                    <h6 class="description">Email: {{user.email}}</h6>
                </div>
                <button *ngIf="user.about" 
                    class="btn btn-outline-danger btn-round" 
                    type="button" data-toggle="collapse" 
                    data-target="#aboutMe"  
                    aria-expanded="false" 
                    aria-controls="aboutMe">About me:</button>
            </div>
            <div>
                <div class="collapse" id="aboutMe">
                    <markdown [data]="user.about"></markdown>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <button class="btn btn-outline-default btn-round" routerLink="change" *ngIf="checkAccess()">
                        <i class="fa fa-edit fa-lg"></i>
                        Change profile
                    </button>
                </div>
            </div>
            <br/>
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="Companies">
                    <ng-template ngbTabContent>
                        <div class="text-right mb-3" *ngIf="checkAccess()">
                            <div class="btn-group">
                                <button class="btn btn-danger" routerLink="newcompany">Create</button>
                                <button class="btn btn-danger" (click)="deleteCompanies()" *ngIf="companies[0]">Delete</button>
                            </div>
                        </div>
                        <div class="table-responsive" *ngIf="companies[0]">
                            <table class="table table-striped table-responsive" matSort (matSortChange)="sortCompany($event)">
                                <thead>
                                <tr>
                                    <th scope="col" *ngIf="checkAccess()">
                                        <div class="form-check">
                                            <label class="form-check-label align-top">
                                                <input class="form-check-input" type="checkbox" (change)="checkedCompany=$event.target.checked" [checked]="checkedCompany">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col" mat-sort-header="name">Name</th>
                                    <th scope="col" mat-sort-header="goal">Goal</th>
                                    <th scope="col" mat-sort-header="presently">Presently</th>
                                    <th scope="col" mat-sort-header="expiration_date">Expiration date</th>
                                    <th scope="col" *ngIf="checkAccess()">Change</th>
                                </tr>
                                <tr>
                                    <th scope="col" *ngIf="checkAccess()"></th>
                                    <th scope="col">
                                        <input class="form-control input-sm my-3" type="text" 
                                            placeholder="Name" [(ngModel)]="nameSearch">
                                    </th>
                                    <th scope="col">
                                        <input class="form-control input-sm mb-2" type="number" 
                                            placeholder="Min" [(ngModel)]="minGoalSearch">
                                        <input class="form-control input-sm" type="number" 
                                            placeholder="Max" [(ngModel)]="maxGoalSearch">
                                    </th>
                                    <th scope="col">
                                        <input class="form-control input-sm mb-2" type="number" 
                                            placeholder="Min" [(ngModel)]="minPresentlySearch">
                                        <input class="form-control input-sm" type="number" 
                                            placeholder="Max" [(ngModel)]="maxPresentlySearch">
                                    </th>
                                    <th scope="col">
                                        <div class="input-group mb-2">
                                            <input class="form-control input-sm" placeholder="yyyy-mm-dd"
                                                name="minExpDate" [(ngModel)]="minExpDateSearch" ngbDatepicker #minExpDate="ngbDatepicker">
                                            <div class="input-group-append">
                                            <button class="btn btn-secondary input-sm" (click)="minExpDate.toggle()"
                                                type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <input class="form-control input-sm" placeholder="yyyy-mm-dd"
                                                name="maxExpDate" [(ngModel)]="maxExpDateSearch" ngbDatepicker #maxExpDate="ngbDatepicker">
                                            <div class="input-group-append">
                                            <button class="btn btn-secondary input-sm" (click)="maxExpDate.toggle()"
                                                type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" *ngIf="checkAccess()"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let company of (sortedCompany | companyFilter: nameSearch: 
                                    minGoalSearch: maxGoalSearch: 
                                    minPresentlySearch: maxPresentlySearch: 
                                    minExpDateSearch: maxExpDateSearch)">
                                    <th scope="row" *ngIf="checkAccess()">
                                        <div class="form-check">
                                            <label class="form-check-label align-top">
                                                <input class="form-check-input check" [value]="company._id" type="checkbox" [checked]="checkedCompany">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <td scope="row"><a href="#" [routerLink] = "['/company', company._id]">{{company.name}}</a></td>
                                    <td scope="row">{{ company.goal | number }}</td>
                                    <td scope="row">{{ company.presently | number }}</td>
                                    <td scope="row">{{ company.expiration_date | date }}</td>
                                    <td scope="row" *ngIf="checkAccess()">
                                        <a href="#" [routerLink]="['/company', company._id, 'change']" class="btn btn-outline-danger btn-sm input-sm">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Pay history">
                    <ng-template ngbTabContent>
                            <div class="row" *ngIf="sortedHistory[0]">
                                <input type="text" class="form-control mr-2 col" placeholder="Search bonuce name" [(ngModel)]="bonuceNameSearch">
                                <div class="btn-group mb-2">
                                    <button class="btn btn-danger" *ngIf="checkAccess()" (click)="deleteHistory()">Delete</button>
                                </div>
                            </div>
                            <div class="table-responsive" *ngIf="sortedHistory[0]">
                                <table class="table table-striped" matSort (matSortChange)="sortHistory($event)">
                                <thead>
                                <tr>
                                    <th scope="col" *ngIf="checkAccess()">
                                        <div class="form-check">
                                            <label class="form-check-label align-top">
                                                <input class="form-check-input" type="checkbox" (change)="checkedHistory=$event.target.checked" [checked]="checkedHistory">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col" mat-sort-header="bonuce_name">Bonuce name</th>
                                    <th scope="col" mat-sort-header="amount">Amount</th>
                                    <th scope="col" mat-sort-header="pay_date">Pay date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let el of (sortedHistory | historyFilter: bonuceNameSearch); let i = index">
                                    <th scope="row" *ngIf="checkAccess()">
                                        <div class="form-check">
                                            <label class="form-check-label align-top">
                                                <input class="form-check-input check" [value]="el._id" type="checkbox" [checked]="checkedHistory">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <td scope="row"><a href="#" [routerLink] = "['/company', el.company_id]">{{el.bonuce_name}}</a></td>
                                    <td scope="row">{{ el.amount | number }}</td>
                                    <td scope="row">{{ el.pay_date | date }}</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
