<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" [style.background-image]="background">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{user.profile_img}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="">
                    <h4 class="title">{{user.name}}<br /></h4>
                    <h6 class="description">Email: {{user.email}}</h6>
                </div>
                <button *ngIf="user.about" 
                    class="btn btn-outline-danger btn-round" 
                    type="button" data-toggle="collapse" 
                    data-target="#aboutMe"  
                    aria-expanded="false" 
                    aria-controls="aboutMe">About me:</button>
            </div>
            <div>
                <div class="collapse" id="aboutMe">
                    <markdown [data]="user.about"></markdown>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <button class="btn btn-outline-default btn-round" routerLink="change" *ngIf="checkAccess()">
                        <i class="fa fa-edit"></i>
                        Change profile
                    </button>
                </div>
            </div>
            <br/>
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="Companies">
                    <ng-template ngbTabContent >
                        <div class="text-right mb-3" *ngIf="checkAccess()">
                            <div class="btn-group">
                                <button class="btn btn-danger" routerLink="newcompany">Create</button>
                                <button class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                        <app-company-table [user_id]='user._id' [isHaveAcces]="checkAccess()"></app-company-table>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Pay history">
                    <ng-template ngbTabContent>
                        Empty((
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
