
<div class="page-header section-dark" 
    style="background-image: url(https://www.trampaway.com/uploaded/images/trip/2017-04/9a5299c1-283b-11e7-9be0-7054d27b717f/58ffac3e833f8.jpg)">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title"><b>UNO</b></h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-center">Strong and memorable tagline!</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<div class="container">
    <div class="tim-title">
        <h2>Last created and updated companies:</h2>
    </div>
    <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide *ngFor="let company of companies">
            <div class="page-header page-header-xs rounded-lg pb-4" data-parallax="true" [style.background-image]="sanitizer.bypassSecurityTrustStyle(
                'url('+getBackground(company.images[0])+')')">
                <div class="filter"></div>
                <div class="container">
                    <div class="motto text-center">
                        <h1>{{company.name}}</h1>
                        <h3>Expiration date: <i>{{company.expiration_date | date}}</i></h3><br/>
                        <p><ngb-progressbar type="danger" value="{{company.presently / company.goal * 100}}" [striped]="true" [animated]="true" [height]="'25px'">
                            <i>{{company.presently}}/<b><b>{{company.goal}}</b></b> ({{company.presently / company.goal * 100 | number: '.0-2'}} %)</i>
                        </ngb-progressbar></p><br/>
                        <button class="btn btn-outline-danger btn-round" [routerLink]="['/company', company._id]">More details</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
