<div class="page-header section-dark" 
    style="background-image: url(https://www.trampaway.com/uploaded/images/trip/2017-04/9a5299c1-283b-11e7-9be0-7054d27b717f/58ffac3e833f8.jpg)">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/angular2-logo.png" alt="">
                </div>
                <h1 class="presentation-title">UNO</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let event of events">
        <div class="card text-center">
            <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <a href="#" class="btn btn-primary">Buy Tickets</a>
            </div>
            <div class="card-footer text-muted">
            {{event.date | date:'shortDate'}}
            </div>
        </div>
        </div>
    </div>
</div>
  
