.story{
  min-height: 340px
}
.about{
  min-height: 100px
}
.img_box {
  overflow-y: auto;
}
.img_el {
  width: 200px;
  height: auto;
}
.btn_delete {
  position: absolute;
  right: 1%;
  top: 1%;
}
.thumb-wrap {
  position: relative;
  padding-bottom: 50.75%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}